<div class="animate-fade-in pb-12">
  <app-page-header
    title="// Archive"
    subtitle="Selected works 2023 - Present">
  </app-page-header>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-12">
    @for (project of projects.projects; track project.id) {
      <app-project-card
        [id]="project.id"
        [title]="project.title"
        [desc]="project.shortDesc"
        [tech]="project.tags"
      >
        @if (project.category == ProjectCategory.ACADEMIC) {
          <mat-icon project-icon svgIcon="school" class="text-custom-muted"></mat-icon>
        } @else {
          <mat-icon project-icon svgIcon="console-line" class="text-custom-warn"></mat-icon>
        }
      </app-project-card>
    }

  </div>
</div>
