<section class="max-w-6xl mx-auto py-20 px-4">

  <h2 class="text-4xl font-bold text-white tracking-tight mb-10">
    Projects & Papers
  </h2>

  @for (category of projects.categories(); track category) {

    @if (projects.getProjects(category.type); as projectList) {
      @if (projectList.length > 0) {
        <h3 class="text-2xl font-bold text-secondary-color tracking-tight mb-4 mt-[60px]" >
          {{ category.label }}
        </h3>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">

          @for (project of projectList; track project.id) {
            <app-project-card [project]="project"/>
          }
        </div>
      }

    }




  }






</section>
