markdown {
  display: block;

  h1, h2, h3 {
    margin-top: 2rem;
  }

  pre {
    background: #0f172a;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
  }

  code {
    font-family: monospace;
  }
}
