<div class="group relative p-6 rounded flex flex-col h-full border border-transparent hover:border-[#BB86FC] transition-all duration-300 bg-custom-surface"
  [ngClass]="{
  'clickable': !hasDetails(),
  }"
  (click)="openProject()"
>
  <div class="absolute inset-0 bg-gradient-to-br from-[#BB86FC] to-transparent opacity-0 group-hover:opacity-5 rounded transition-opacity duration-300"></div>

  <div class="relative z-10 flex flex-col h-full">
    <div class="flex justify-between items-start mb-6">
      <div
        class="p-3 rounded-lg bg-[#121212]"
      >
        <ng-content select="[project-icon]"></ng-content>
      </div>

      <div class="flex gap-4">

        @if (githubRef() != '') {
          <mat-icon
            style="transform: scale(0.75)"
            svgIcon="github"
            size="12"
            class="cursor-pointer transition-colors text-custom-muted text-hover"
          >

          </mat-icon>
        }
      </div>
    </div>

    <h3
      class="text-xl font-bold mb-3 transition-colors group-hover:{{colors.primary}}"
      [ngClass]="colors.textMain"
    >
      {{ title() }}
    </h3>

    <p class="text-sm mb-6 leading-relaxed" [ngClass]="colors.textMuted">
      {{ desc() }}
    </p>

    <div class="flex flex-wrap gap-2 mt-auto pt-4 border-t border-[#2C2C2C]">
      @for (t of tech(); track t) {
        <span
          class="font-mono text-[10px] bg-[#03DAC6]/10 px-2 py-1 rounded"
          [ngClass]="colors.accent"
        >
        {{ t }}
      </span>
      }
    </div>
  </div>
</div>
